.person {
  border-bottom: 1px solid #cccccc;
  padding: 10px 20px;
}

.person__td {
  padding: 10px 60px;
}

.person__name {
  margin-left: 15px;
}

.person__options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.person__optionsIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 5px;
  cursor: pointer;
}

.person__edit {
  background-color: #ffebb2;
  border-radius: 3px;
  border: 1px solid #d6b656;
  margin-right: 10px;
}

.person__delete {
  background-color: #f58383;
  border-radius: 3px;
  border: 1px solid #cc5b5b;
}

.editIco,
.deleteIco {
  font-size: 20px;
  color: #6a6666;
}

@media (max-width: 767px) {
  .person__optionsIcon {
    width: 30px;
    height: 30px;
  }

  .editIco,
  .deleteIco {
    font-size: 16px;
  }
}

@media (max-width: 560px) {
  .person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .person__td {
    padding: 10px 0;
  }

  .person__td:first-child {
    padding-left: 0;
  }

  .person__icon {
    display: none;
  }

  .person__name {
    margin-left: 0;
  }
}